doctype html
html
    head
        style
            include style.css


    body
        header
            p 'hello'
        div
            block content
        div
            | Have a nice day)

        a(href='www.google.ua') Click to google)