extends container
block content
    p.dell #{name} create mail to change password?

    p you can use this
        a(href=`http://localhost:5000/auth/passwordchanger/${token}`) REFERENCE

    div
        | http://localhost:5000/auth/passwordchanger/#{token}
